#table {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

#table > p{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 5px;
}

.filme{
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.filme > *{
    padding: 10px;    
}

.titulo{
    width: 300px;
    min-width: 60px;
    overflow-wrap: normal;
}

.oscar{
    width: 20px;
}

.status{
    width: 20px;
}

.media::first-letter{
    font-size: 25px;
}

.posicao{
    font-size: 30px;
    width: 30px;
    min-width: 30px;
    text-align: center;
}

.percent{
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    vertical-align: middle;
}

.percent > img{
    margin-bottom: 5px;
}

.percent:last-child{
    font-size: 14px;
    font-weight: 520;
}

.expand{
    border-radius: 50%;
}

.expand::after{    
    content: "expand_more";
}

.expand.active::after{    
    content: "expand_less";
}

.expand:hover{    
    background-color: #eee;
    cursor: pointer;
}

.details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.graph{
    display: grid;
	grid-template-columns: 15px 300px;
	grid-template-rows: 204px 15px;
    justify-items: end;
}

.graph-tempo{
    grid-column: span 2;
}

.graph-tempo, .graph-media{
    color: #999
}

.graph-plot{
    background-color: #aaa;
}
/*
line{
    stroke-width: .5;
    transition: stroke-width 0.3s ease-out;
}

line.histogram{
    stroke-width: 9;
}

line.histogram:hover{
    stroke: #00e054
}

g{
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

g.histogram{
    opacity: 0;
}

circle:hover {
    fill: #40bcf4;
}

circle{
    r: 2.5;
}*/

.watched:hover{
    fill: #00e054;
}

.texto{
    opacity: 0;
}

.membro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
}

#header{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header > img{
    width: 200px;
    border-radius: 50%;
}

#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;    
}

/* Style The Dropdown Button */
.dropbtn {
    height: 54px;
    background-color: #ebebeb;
    color: #000;
    text-decoration: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropbtn:nth-child(1){
    width:80px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdowncontent a:hover {
    background-color: #f1f1f1
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdowncontent {
    display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
    background-color: #777;
    color: #fff;
}

.selected {
    background-color: #fff;
}

@media screen and (min-width:600px) {
    #table{
        align-items: center;
    }    

    .filme > *{
        padding: 15px;    
    }

    /*circle{
        r: 2;
    }*/
}

@media screen and (prefers-color-scheme: dark) {
    /*body{
        background-color: #121212;
    }*/
    
    
    #table{
        color: #fff;
    }
    
    .selected {
        background-color: #121212;
        color: #fff;
    }
}